<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <% if(user.local.email) { %>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <%} else {%>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                <% if(user.facebook.token) { %>
                <p>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %>
                </p>
                <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                <% if(user.google.token) { %>
                <p>
                    <strong>id</strong>: <%= user.google.id %><br>
                    <strong>token</strong>: <%= user.google.token %><br>
                    <strong>email</strong>: <%= user.google.email %><br>
                    <strong>name</strong>: <%= user.google.name %><br>
                    <strong>photo</strong>: <img src="<%= user.google.image %>"/>
                </p>
                <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>
            </div>
        </div>
        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
                <% if(user.twitter.token) { %>
                <p>
                    <strong>id</strong>: <%= user.twitter.id %><br>
                    <strong>token</strong>: <%= user.twitter.token %><br>
                    <strong>username</strong>: <%= user.twitter.username %><br>
                    <strong>displayName</strong>: <%= user.twitter.displayName %>
                </p>
                <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-success"><span class="fa fa-spotify"></span> Spotify</h3>
                <% if(user.spotify.token) { %>
                <p>
                    <strong>id</strong>: <%= user.spotify.id %><br>
                    <strong>token</strong>: <%= user.spotify.token %><br>
                    <strong>url</strong>: <%= user.spotify.urls %><br>
                    <strong>href</strong>: <%= user.spotify.href %><br>
                    <strong>country</strong>: <%= user.spotify.country %><br>
                    <strong>photo</strong>: <img src="<%= user.spotify.photo %>"/><br>
                    <strong>email</strong>: <%= user.spotify.email %><br>
                    <strong>displayName</strong>: <%= user.spotify.display_name %>
                </p>
                <a href="/unlink/spotify" class="btn btn-success">Unlink</a>
                <% } else { %>
                <a href="/connect/spotify" class="btn btn-success">Connect Spotify</a>
                <% } %>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-youtube"></span> YouTube</h3>
                <% if(user.youtube.token){ %>
                <p>
                    <strong>id</strong>: <%= user.youtube.id %><br>
                    <strong>token</strong>: <%= user.youtube.token %><br>
                    <strong>displayName</strong>: <%= user.youtube.name %>
                </p>
                <a href = '/playlists'>See your Playlists!</a>
                <a href="/unlink/youtube" class="btn btn-danger">Unlink</a>
                <% } else { %>
                <a href="/connect/youtube" class="btn btn-danger">Connect Youtube</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
</html>